<div class="flex items-center justify-center bg-gray-100 p-4">
  <p class="text-center text-sm text-gray-500">Já tem uma conta?
    <a routerLink="../login" class="text-indigo-500 transition duration-100 hover:text-indigo-600 active:text-indigo-700">Log-in</a>
  </p>
</div>
<div class="container" class="bg-white py-6 sm:py-8 lg:py-12">
  <div class="mx-auto max-w-screen-2xl px-4 md:px-8">
    <div class="mb-10 md:mb-16">
      <h2 class="mb-4 text-center text-2xl font-bold text-gray-800 md:mb-6 lg:text-3xl">Cadastro</h2>

      <p class="mx-auto max-w-screen-md text-center text-gray-500 md:text-lg">Crie uam conta para comprar conosco
      </p>
    </div>


    <form [formGroup]="form" method="post" (ngSubmit)="onSubmit()" class="mx-auto grid max-w-screen-md gap-4 sm:grid-cols-2">

      <div class="sm:col-span-2">
        <label for="name" class="mb-2 inline-block text-sm text-gray-800 sm:text-base">Nome Completo*</label>
        <input type="text" name="name" id="name" formControlName="name"
          class="w-full rounded border bg-gray-50 px-3 py-2 text-gray-800 outline-none ring-indigo-300 transition duration-100 focus:ring" />
        <div *ngIf="form.get('name')?.invalid && form.get('name')?.touched" class="alert alert-danger">
          <div *ngIf="form.get('name')?.errors?.['required']">Name é obrigatorio.</div>
        </div>
      </div>

      <div>
        <label for="birthDate" class="mb-2 inline-block text-sm text-gray-800 sm:text-base">Data de Nascimento*</label>
        <input name="birthDate" id="birthDate" type="date" formControlName="birthDate"
          class="w-full rounded border bg-gray-50 px-3 py-2 text-gray-800 outline-none ring-indigo-300 transition duration-100 focus:ring" />
        <div *ngIf="form.get('birthDate')?.invalid && form.get('birthDate')?.touched" class="alert alert-danger">
          <div *ngIf="form.get('birthDate')?.errors?.['required']">Data de Nascimento é obrigatorio.</div>
        </div>
      </div>


      <div>
        <label for="cpf" class="mb-2 inline-block text-sm text-gray-800 sm:text-base">CPF*</label>
        <input name="cpf" type="text" id="cpf" formControlName="cpf"
          class="w-full rounded border bg-gray-50 px-3 py-2 text-gray-800 outline-none ring-indigo-300 transition duration-100 focus:ring">
        <div *ngIf="form.get('cpf')?.invalid && form.get('cpf')?.touched" class="alert alert-danger">
          <div *ngIf="form.get('cpf')?.errors?.['required']">CPF é obrigatorio.</div>
          <div *ngIf="form.get('cpf')?.errors?.['pattern']">CPF formart não é valido.</div>
          <div *ngIf="form.get('cpf')?.errors?.['cpf']">CPF is não é valido.</div>
        </div>
      </div>

      <div>
        <label for="phone" class="mb-2 inline-block text-sm text-gray-800 sm:text-base">Celular*</label>
        <input name="phone" type="text" id="phone" formControlName="phone"
          class="w-full rounded border bg-gray-50 px-3 py-2 text-gray-800 outline-none ring-indigo-300 transition duration-100 focus:ring">
        <div *ngIf="form.get('phone')?.invalid && form.get('phone')?.touched" class="alert alert-danger">
          <div *ngIf="form.get('phone')?.errors?.['required']">Celular é obrigatorio.</div>
        </div>
      </div>

      <div class="sm:col-span-2">
        <label for="email" class="mb-2 inline-block text-sm text-gray-800 sm:text-base">E-mail*</label>
        <input name="email" type="email" id="email" formControlName="email"
          class="w-full rounded border bg-gray-50 px-3 py-2 text-gray-800 outline-none ring-indigo-300 transition duration-100 focus:ring">
        <div *ngIf="form.get('email')?.invalid && form.get('email')?.touched" class="alert alert-danger">
          <div *ngIf="form.get('email')?.errors?.['required']">E-mail é obrigatorio.</div>
          <div *ngIf="form.get('email')?.errors?.['email']">E-mailnão é valido.</div>
        </div>
      </div>

      <div class="sm:col-span-2">
        <label for="password" class="mb-2 inline-block text-sm text-gray-800 sm:text-base">Senha*</label>
        <input name="password" type="password" id="password" formControlName="password"
          class="w-full rounded border bg-gray-50 px-3 py-2 text-gray-800 outline-none ring-indigo-300 transition duration-100 focus:ring">
        <div *ngIf="form.get('password')?.invalid && form.get('password')?.touched" class="alert alert-danger">
          <div *ngIf="form.get('password')?.errors?.['required']">Por Favor cadastre uma senha.</div>
          <div *ngIf="form.get('password')?.errors?.['minlength']">Password precisa ter no minimo 8 characteres.</div>
        </div>
      </div>

      <div class="flex items-center justify-between sm:col-span-2">
        <button *ngIf="!this.spinner;else isSpinning"
          type="submit"
          [disabled]="form.invalid"
          class="inline-block rounded-lg bg-indigo-500 px-8 py-3 text-center text-sm font-semibold text-white outline-none ring-indigo-300 transition duration-100 hover:bg-indigo-600 focus-visible:ring active:bg-indigo-700 md:text-base">Register</button>
        <span class="text-sm text-gray-500">*Clicando em Cadastrar você concorda com nosssa politica de privacidade</span>
      </div>

    </form>

  </div>
</div>
<ng-template #isSpinning>
  <p-progressSpinner *ngIf="this.spinner" styleClass="w-4rem h-4rem" strokeWidth="8" fill="var(--surface-ground)" animationDuration=".5s"></p-progressSpinner>
</ng-template>